<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>angular练习1</title>
		<script src="../js/angular.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body ng-app="myapp" ng-controller="myctrl">
		<!--angular测试-->
		<div>
			<input type="text" name="name" ng-model="name" />
			<input type="button" value="清空" ng-click="onclear()" />
		</div>
		<div ng-bind="name">
			<!--{{name}}-->
		</div>
	</body>
	<script type="text/javascript">
		var myapp = angular.module("myapp",[]);
		myapp.controller("myctrl",["$scope",function($scope){
			$scope.onclear = function(){
				$scope.name=""
			}
		}])
	</script>
</html>
