<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/data/jpa 
		http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
	
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean" depends-on="roleOrFilter">
		<!-- 安全管理器 -->
		<property name="securityManager" ref="securityManager"></property>
		<!-- 未认证，跳到指定页面 -->
		<property name="loginUrl" value="/login.html"></property>
		<!-- 登陆后页面 -->
		<property name="successUrl" value="/index.html"></property>
		<!-- 没有通过认证，跳转指定页面 -->
		<property name="unauthorizedUrl" value="/unauthorized.html"></property>
		<!-- 添加各种验证过滤器 -->  
        <property name="filters">  
            <map>  
                <entry key="roleOrFilter" value-ref="roleOrFilter"/>  
            </map>  
        </property>
		<!-- shiro 过滤器规则 -->
		<property name="filterChainDefinitions">
			<value>
				/login.html* = anon
				/validatecode.jsp* = anon
				/user_login.action* = anon
				/css/** = anon
				/js/** = anon
				/images/** = anon
				/services/** = anon
				/pages/base/courier.html* = perms[courier:list]
				/pages/base/area.html* = authc,roleOrFilter["base,qupai"]
				/** = authc
			</value>
		</property>
	</bean>
	
	<!-- 自定义的过滤器，用来判断当前用户是否是roleOrFilter["comm,test"]中的某个角色 -->  
    <bean id="roleOrFilter" class="com.rongyue.realm.CustomRolesAuthorizationFilter" />
	
		<!-- 安全管理器  -->
	<bean id="securityManager" 
		class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		 <property name="realm" ref="bosRealm" />
		 <property name="cacheManager" ref="shiroCacheManager"></property>
	</bean>
	
	<!-- 配置Realm -->
	 <bean id="bosRealm" class="com.rongyue.realm.BosRealm">
	 	<property name="authenticationCacheName" value="bos"></property>
	</bean> 
	
	<!--生命周期处理器 -->
	<bean id="lifecycleBeanPostProcessor"
		class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
		
	<!-- 开启shiro注解模式  -->
	 <bean
		class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
		depends-on="lifecycleBeanPostProcessor" >
		<property name="proxyTargetClass" value="true" />
	</bean> 
		
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		 <property name="securityManager" ref="securityManager"/>
	</bean>
	
	
	
</beans>